/* ch5.css */

body {
  font-family: 'Georgia Pro', Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Avenir Next', 'Segoe UI', arial, sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 2.369em;
  font-weight: 800;
  text-align: center;
  border-bottom: 1px solid #c8bc9d;
}

h2 {
  font-size: 1.777em;
  font-weight: 600;
  margin: .5em;
}

h3 {
  font-size: 1.333em;
}

article {
  max-width: 48em;
  min-width: 30em;
  margin: 0 auto;
}

ul {
  padding: 3px;
}

li {
  margin: 2px;
  padding: 8px;
  list-style-type: none;
}

li:hover,
li:focus {
  background-color: #fff;
}


/* Lord Vader Hates Furry Animals */
a {
  /* color: #235ea7; */
  text-decoration: none;
}

a:link {
  color: #235ea7;
}

a:visited {
  color: #235ea7;
}

a:hover {
  color: blueviolet;

}

a:focus {
  color: red;
}

a:active {
  color: red;
}



/* class */
.right {
  float: right;
}