/* ====== Header styles ====== */

/**
* 1. SVG file containing JPEG image + a radial gradient mask, then a linear
*    gradient background.
*/
.page-header {
  background-color: #000;
  background-image: url(../img/earth.svg),
    linear-gradient(to bottom, #000, #102133);
  /* [1] */
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: 50% bottom;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 12em;
}

/**
* Masked header title.
* 1. Use the -webkit-prefixed properties to create a CSS radial gradient mask.
*    These are not supported unprefixed when writing this.
* 2. Size the mask to twice the size. Positioning won't work as the transparent
*    background created by simply moving it will mask out the top of the text.
*/
.header-title {
  color: #fff;
  text-align: center;
  font-family: Roboto Condensed, Roboto, arial, sans-serif;
  font-size: 6em;
  font-size: 10vw;
  text-transform: uppercase;
  -webkit-mask-image: radial-gradient(ellipse 90% 30% at 50% 50%,
      rgba(0, 0, 0, 0) 45%, #000 70%);
  /* [1] */
  -webkit-mask-size: 100% 200%;
  /* [2] */
  margin: auto auto 8%;
}

@media only screen and (min-width: 60em) {
  .page-header {
    background-size: 60em auto, cover;
    min-height: 20em;
  }

  .header-title {
    font-size: 160px;
    margin-bottom: 60px;
  }
}
