.section-title {
  font-family: Roboto Condensed, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-transform: perspective(200px) rotate3d(2, -1, 0, -30deg);
  transform: perspective(200px) rotate3d(2, -1, 0, -30deg);
  font-size: 4em;
  margin: 0 0 1em;
}

.section-text {
  font-size: 1.125em;
}

.fig {
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .fig {
    margin: 0;
    float: right;
  }

  .stacked:nth-of-type(even) .fig {
    float: left;
    margin-right: 4em;
  }
}

.stacked:nth-of-type(even) .section-text {
  overflow: hidden;
}

.section-universe {
  position: relative;
  overflow: hidden;
  background-color: #fff !important;
}

.section-sun {
  background-color: #D8F4FD;
}

.section-sun .section-title {
  color: #1C6E88;
}

.section-moon {
  background-color: #000;
  color: #fff;
}

.section-planets {
  color: #E0CBD9;
  background-color: #26122B;
}

.section-text p {
  line-height: 1.5;
  max-width: 40em;
}