/* 07-20.css */
.wrapper {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #eee;
}

section {
  outline: 1px black solid;
}

.grid-a {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  grid-template-columns: repeat(5, 1fr);
  margin: 0 -0.6875em;
  background-color: #eee;
}