/* our grid styles: */
.row:after {
  content: 'row';
  display: block;
  clear: both;
  background-color: #aeaeae;
}

.row-quartet>* {
  width: 25%;
}

.row-trio>* {
  width: 33.3333%;
}


.col {
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100px;
  outline: 1px solid #666;
  background-color: #ccc;
}


.subcategory-featured {
  width: 50%;
  background-color: #fea;
}


.subcategory-content {
  width: 80%;
  background-color: #cecece;
}


.subcategory-header {
  width: 20%;
  background-color: #eae;
} 