/* notmentioned.css */
body {
  margin: 0;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .25em;
  line-height: 1.25em;
}

h1 {
  margin-bottom: .5em;
}

h2 {
  margin-top: 1.107em;
  /* 31px */
}

h3 {
  font-size: 1.333em;
  /* 20px */
  margin-top: 0.9em;
}

p {
  margin: 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.source {
  margin-top: 1.5em;
  font-style: italic;
  text-indent: 0;
}

abbr {
  font-family: AlegreyaSansSc, Alegreya, Helvetica, arial;
  text-transform: lowercase;
  letter-spacing: 0.05em;
  font-size: 1.0625em;
}

@font-face {
  font-family: AlegreyaSansSC;
  src: url('../fonts/alegreya/AlegreyaSansSC-Regular.woff2') format('woff2'),
    url('../fonts/alegreya/AlegreyaSansSC-Regular.woff') format('woff');
}