/* custom */
hr{
  margin: 30px 0px;
}
img {
  margin: 10px;
}

strong {
  margin: 0 5px;
  color: red;
  font-size: large;
}

.custom {
  margin-top: 5px;
  clear: both;
}

.text{
  font-size: large;
}

/* media-block */
/**
  * 1. Notice how this will not show, as the block collapses in height.
  */
.media-block {
  background-color: gray;
  /* 1 */
  border: solid 5px black;
}

.media-fig {
  float: left;
  width: 30%;
}

.media-body {
  float: right;
  width: 65%;
}

/* 2. div clear */
.clear {
  clear: both;
  background-color: #aaa;

  text-align: center;
}

/* 3. :after clear */
.after:after {
  content: ':after 伪元素';
  display: block;
  clear: both;

  background-color: #aaa;
  text-align: center;
}

/* 4. formatting context */

.media-fig-fc {
  float: left;
  margin-right: 5%;
}

/**
    * 1. The overflow rule here creates a new formatting context,
    *    causing both the container and the .media-body section
    *    to contain their floats, and causes the .media-body element
    *    to shift its starting edge so that it sits to the right of the
    *    floated figure.
    */
.overflow {
  overflow: auto;
  /* 1 */
}