/* ====== Helper classes ====== */

/**
* Make the antialiasing on dark backgrounds a bit lighter
* on WebKit/Firefox OS X.
*/
.inverted {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 95%;
  max-width: 60em;
  margin: 0 auto;
}

.section {
  background-color: #ddd;
  padding-top: 4em;
  padding-bottom: 4em;
}

.section:after {
  content: '';
  display: table;
  clear: both;
  height: 0;
}