body {
  background-color: #663399;
  padding: 4em 2em;
  color: #fff;
  font-family: Avenir Next, Avenir, SegoeUI, arial, sans-serif;
}

.frame {
  float: left;
  padding: 30px;
  text-align: center;
}

.frame p {
  margin-bottom: 2em;
  font-family: monospace, monospace;
  font-size: 1.5em;
}

.frame+.frame {
  border-left: 2px solid;
}

.box {
  width: 25px;
  height: 25px;
  background-color: #fff;
  transform-origin: 100% 100%;
}

.box-0 {
  transform: translateX(-100%);
}

.box-20 {
  transform: translateX(-100%) skewX(15deg);
}

.box-28 {
  transform: translateX(-100%) skewX(0deg);
}

.box-45 {
  transform: translateX(-100%) skewX(-5deg) rotate(20deg) scaleY(1.1);
}

.box-50 {
  transform: translateX(-100%) rotate(45deg) scaleY(1.1);
}

.box-60 {
  transform: translateX(-100%) rotate(90deg);
}

.box-65 {
  transform: translateX(-100%) rotate(90deg) skewY(10deg);
}

.box-70 {
  transform: translateX(-100%) rotate(90deg) skewY(0deg);
}

.box-100 {
  transform: translateX(-100%) rotate(90deg);
}