/* basic-typesetting.css */

/** Text Color
  * 充分的对比度对于可访问性来说是关键，但太高又会让大段的文本显得过度密集，影响可读性 
  * headings：default black
  * paragraphs：dark blue-gray
  * links：blue, but we’ll dial down the vibrancy a bit.
  */
p {
  color: #3b4348;
}

a {
  color: #235ea7;
}

/** Font-Family
  * font-family 是一个备选字体列表，是可继承属性。
  * 如果优先字体缺少某个字形，浏览器会向后查找。
  * 通用字体族：没有选择的选择
  * typeface font-family font glyph?
  */
body {
  /** serif: 衬线字体 
    * Georgia：几乎无处不在
    * Georgia Pro：某些版本的 Window 10 中
    * Times & Times New Roman：很多计算机都有
    */
  font-family: 'Georgia Pro', Georgia, Times, 'Times New Roman', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /** sans-serif: 无衬线字体 
    * Avenir Next：MAC OS X 和 iOS
    * Segoe UI：大多数 Windows 及 Windows Phone
    * arial：几乎所有平台
    */
  font-family: 'Avenir Next', 'Segoe UI', arial, sans-serif;
}

/** Font Size & Line Height
  * 几乎所有浏览器默认字体大小为 16px。
  * rem：root element rm
  * 根元素即 <html>
  */
h1 {
  font-size: 2.315em;
  /* 37px */
}

h2 {
  font-size: 1.75em;
  /* 28px */
}

h3 {
  font-size: 1.314em;
  /* 21px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 24px;
  /* non-scalable fallback for old browsers */
  margin-top: 1.5rem;
  /* 24px, will be ignored by old browsers */
}

/** Line Spacing, Alignment, and the Anatomy of Line Box */
body {
  /* line-height 一般在 1.2~1.5，与 x-height 和文本长度成正比 */
  /* 没有单位意为当前 font-size 的倍数，子元素也继承此系数 */
  /* line-height: 1.5em; */
  line-height: 1.5;
}

/** Font Weight
  * 关键字：normal、bold、bolder、lighter etc.
  * 数字：100~900，normal=400，bold=700
  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 600;
}

/* Font Style */
i {
  /* font-weight: 700; */
  font-style: normal;
}

i {
  /* <i> 默认 */
  font-style: italic;
}

/* Transforming Case */
h1 {
  text-transform: uppercase;
}

abbr {
  text-transform: lowercase;
  /* small-caps 小型大写字母 */
  font-variant: small-caps;
  /* 防止某些浏览器显示问题 */
  line-height: 1.25;
}

/** Changing the Space Between Letters & Words 
  * 一般来说不要修改间距，这是字体设计该做的
  */
p {
  /* word-spacing: 0.1em; */
}

abbr {
  letter-spacing: 0.1em;
}